* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}
.grid-box {
    border: 1px solid black;
}
#size {
}
.black {
    background-color: black;
}